## Check state of Etekcity plugs via cloud service
region = Power
description = Etekcity plugs
##username for Vesync (etekcity)
login=email@domain.tld
##MD5 encoded password for Vesync (etekcity)
password=123456789abcdef0123456789abcdef0
urlMethod=POST
broadcast.class=dea.monitor.broadcast.Homeseer
