## use class dea.monitor.checker.CheckUrl
region = Shop
httpsURL = http://192.168.1.121/deviceslist.htm
#seconds
wait=1800
## use your login and password below
login=EZServe
password=
## where "outside" is the name of a defined area 
checkString=<OPTION SELECTED>outside