## Foscam FI9821 / FI9804 / FI9805 / FI9828W example
region = WiFi
description = Foscam PTL - Living room looking west
httpsURL=http://192.168.1.22:88/cgi-bin/CGIProxy.fcgi?cmd=snapPicture2&usr=admin&pwd=admin
timeout=60000
# in bytes
minSize=10240
login=admin
password=admin
## you can optionally save the image locally.
#saveImage=true