## Foscam FI8918W example
region = Barn
description = EasyN PTL - Barn
httpsURL = http://192.168.1.18:80/snapshot.cgi
# in bytes
minSize=10240
login=admin
password=admin
## you can optionally save the image locally.
#saveImage=true