## broadcast status changes to Homeseer for notifications and quick fixes.
httpsURL = http://10.10.1.45/JSON?
hs.user=USERNAME
hs.pass=PASSWORD
##Room
hs.location1=
##Building
hs.location2=MyMonitor
## name given to newly created objects that update should look for.
hs.default.object.name=MyMonitorNew
#seconds
wait=300
hs.event.group=Monitor
hs.event.create=NewDevice